<!DOCTYPE html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Razvan Caliman" />
   <!-- <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" /> -->

   <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body>


  <header>
    <a href="/" class="logo">Razvan Caliman</a>
    <nav>
        <a href="/about.html">about me</a>
    </nav>
  </header>

  <div class="content">
     {{ content }}
  </div>

</body>
</html>
